<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Rebelcode</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/typography.css" />
  <link rel="stylesheet" href="/css/layout.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-499345-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Rebelcode.net</a></h1>
      </div>
      <div id="about">
        <h2><a href="http://www.jomppanen.com">Tuomas Jomppanen</a> is a creative web developer, who thinks every problem can be solved with programming.</h2>
      </div>
    </div>
    {{ content }}
  </div>
</body>
</html>
